/* Variables */
:root {
  /* font */
  --main-font: 'Indie Flower', cursive;
  --main-bg-color: #fdf6b7;
  --secondary-bg-color: #fbfff8;
  --main-text-color: #000000de;
  --secondary-text-color: #2abcf2;
}

/* CSS reset */
body, div {
  margin: 0;
  padding: 0;
}


body {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.svg-header {
  fill: var(--main-bg-color);
}

footer {
  background-color: var(--secondary-bg-color);
  border-top: 4px solid var(--secondary-text-color);
  margin-top: 2em;
}